.container {
  display: flex;
  justify-content: center;
  width: 65%;
}

.container::after {
  content: "";
  background: url("../../images/background.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

@media only screen and (max-width: 770px) {
  .container {
    width: 100%;
  }
}